html {
    background-color: #fff3cd;
    font-size: 100%; /* 16px */
}

body {
    color: #000000;
    font-family: "Noto Sans JP", sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.3rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.site-title {
    font-weight: 600;
    font-size: 2.4rem;
}

.site-title a {
    color: #24292e;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

.sec-title2 {
    margin: 35px 0 30px 0;
}

.logo {
    transition: all 0.3s;
}

.logo:hover {
    opacity: 0.5;
}

/* header */
#header {
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 170px;
}

#header ul {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

#header ul li {
    font-size: 0.9rem;
    margin-left: 30px;
}

#header ul li a {
    color: #24292e;
    transition: all 0.3s;
}

#header ul li a:hover {
    opacity: 0.5;
}

/* main */
#main {
    margin-bottom: 80px;
}

#main picture {
    display: flex;
    justify-content: center;
}

#main img {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    object-fit: cover;
}

/* about */
#about .profile {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about ul li:first-child {
    margin-bottom: 20px;
}

#about ul li {
    margin-bottom: 3px;
}

#about ul li a {
    font-size: 0.9rem;
    color: #24292e;
    transition: all 0.3s;
}

#about ul li a:hover {
    opacity: 0.5;
}

#about p {
    margin-top: 20px;
}

#about div div img {
    width: 200px;
}

/* equipments */
#equipments dl {
    display: flex;
    flex: wrap;
}

#equipments dl {
    margin: 0 auto;
}

#equipments dt {
    width: 20%;
}

#equipments dd {
    width: 80%;
}

/* works */
#works ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#works ul li {
    width: 24%;
}
#works ul li img {
    cursor: pointer;
    transition: all 0.1s;
}

#works ul li img:hover {
    transform: scale(1.07,1.07);
    opacity: 0.7;
}

/* links */
#links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* sp */
@media screen and (max-width: 600px) {
    .site-title {
        margin-top: 20px;
    }
    
    /* header */
    #header {
        flex-direction: column;
        height: auto;
        line-height: 40px;
        margin-top: 20px;
        padding: 30px;
    }

    #header li {
        font-size: 0.8rem;
        margin-left: 20px;
    }

    /* about */
    #about .profile {
        flex-direction: column;
        margin: 50px auto;
    }
    /* works */
    #works ul {
        flex-direction: column;
    }

    #works ul li {
        width: 100%;
        margin-bottom: 50px;
    }
}